/OpenGL-development-tour/Debug
/OpenGL-development-tour/x64
/OpenGL-development-tour/1.1/x64
/OpenGL-development-tour/1.1/Debug
/OpenGL-development-tour/1.2/x64
/OpenGL-development-tour/.vs
/OpenGL-development-tour/1.3/x64
/OpenGL-development-tour/1.4/x64
/OpenGL-development-tour/1.5/x64
